<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="llg" method="get">
    <div class="container" style="height:700px;border:3px solid green;">
    <div class="center" style="top:50%;left:50%;height:100px;display:flex;justify-content:center;">
    <button style="background-color:aqua;">Click Here</button>

</div>
        <div>
        <h2 style="text-align:center;">This is Inmakes School Store</h2>
            </div>
        </div>

</form>
</body>
</html>